.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.statsBody {
		margin-top: 15px;
		margin-bottom: 30px;
}

.chartsSection {
		margin-top: 15px;
		border-top-width: 1px;
		border-top-color: blue;
		border-top-style: solid;
}

.chartSelectLabel {
		margin-top: 5px;
		text-align: left;
		text-decoration: underline;
		text-decoration-color: "blue";
		color: "blue";
}

.charts {
		margin-top: 15px;
}

.dashboardSelect {
		border-right-width: 1px;
		border-right-color: blue;
		border-right-style: solid;
		margin-right: 15px;
		padding: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
